body {
  padding: 20px;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  background-image: url("images/giphy.gif");
  background-color: rgb(175, 149, 185);

  background-repeat: no-repeat;
  background-position: left;
  background-clip: content-box;
}
.container {
  margin-left: 300px;
  background-color: transparent;
  border-radius: 6px;
  font-size: 30px;
  color: white;
}

label.toggle {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
  margin-left: 900px;
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  opacity: 0;
}
.imageSun {
  padding-bottom: 0%;
  margin-left: 900px;
}

.ball {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efc774;
  transition: 0.3s;
  border-radius: 25px;
}

.ball::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 5px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
  border-radius: 25px;
}

input:checked + .ball {
  background-color: #0f010988;
  background-image: url("images/night.gif");
  box-shadow: 0 0 0 2065px #36034eb2;
}

input:checked + .ball:before {
  transform: translateX(44px);
}

.header {
  color: rgba(255, 255, 255, 0.719);
  font-weight: 500;
  padding: 20px 10px;
  background-color: rgba(106, 80, 131, 0.493);
  border-radius: 4px;
  margin-top: 20px;
}
.search-location {
  padding: 20px 10px;
}
h1,
h2,
h3 {
  font-size: 30px;
  margin-left: 300px;
  padding-left: 20px;
  border-radius: 6px;
  margin-bottom: 0;
}
h1 {
  color: rgba(39, 17, 119, 0.76);
  margin-bottom: 0;
}
h2 {
  margin-bottom: 0;
  color: rgb(236, 234, 230);
}
h3 {
  margin-bottom: 0;
  color: rgb(236, 234, 230);
}
.todays-weather {
  padding-left: 20px;
  padding-right: 400px;
  text-align: center;
  background-color: transparent;
}

.card-deck {
  padding-left: 100px;
  color: rgba(0, 0, 0, 0.801);
  background-color: transparent;
}
